$sizes: 0, 1, 2, 3, 4, 5, 6;
$negativeSizes: -1, -2, -3, -4, -5, -6;

@mixin set-space($size) {
  .mt-#{$size} {
    margin-top: var(--space-#{$size}00);
  }
  .mr-#{$size} {
    margin-right: var(--space-#{$size}00);
  }
  .ml-#{$size} {
    margin-left: var(--space-#{$size}00);
  }
  .mb-#{$size} {
    margin-bottom: var(--space-#{$size}00);
  }
  .my-#{$size} {
    margin-top: var(--space-#{$size}00);
    margin-bottom: var(--space-#{$size}00);
  }
  .mx-#{$size} {
    margin-right: var(--space-#{$size}00);
    margin-left: var(--space-#{$size}00);
  }
  .pt-#{$size} {
    padding-top: var(--space-#{$size}00);
  }
  .pr-#{$size} {
    padding-right: var(--space-#{$size}00);
  }
  .pl-#{$size} {
    padding-left: var(--space-#{$size}00);
  }
  .pb-#{$size} {
    padding-bottom: var(--space-#{$size}00);
  }
  .py-#{$size} {
    padding-top: var(--space-#{$size}00);
    padding-bottom: var(--space-#{$size}00);
  }
  .px-#{$size} {
    padding-right: var(--space-#{$size}00);
    padding-left: var(--space-#{$size}00);
  }
}
@each $size in $sizes {
  @include set-space($size)
}
@each $size in $negativeSizes {
  @include set-space($size)
}